<div class="star-ratings">
    <div class="star-ratings-top" style="width: {{percentage}}%">
        <span class="fa fa-star" aria-hidden="true" style="color: {{this.def.color}}"></span><span class="fa fa-star" aria-hidden="true" style="color: {{this.def.color}}"></span><span class="fa fa-star" aria-hidden="true" style="color: {{this.def.color}}"></span><span class="fa fa-star" aria-hidden="true" style="color: {{this.def.color}}"></span><span class="fa fa-star" aria-hidden="true" style="color: {{this.def.color}}"></span>
    </div>
    <div class="star-ratings-bottom">
        <span class="fa fa-star-o" aria-hidden="true"></span><span class="fa fa-star-o" aria-hidden="true"></span><span class="fa fa-star-o" aria-hidden="true"></span><span class="fa fa-star-o" aria-hidden="true"></span><span class="fa fa-star-o" aria-hidden="true"></span>
    </div>
</div>
